body{
  margin:0;
  padding:0;
  background:url(123.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  font-family:sans-serif;
}
.login{
  width:250px;
  height:300px;
  color: white;
  background:black ;
  position: absolute;
  left:40%;
  top:20%;
  border-radius: 10px;
  padding:40px 25px;

}
h1{
  margin:0;
  padding:0;
  text-align:center;
  font-size: 30px;
}
.login h1{
  background-color: Dodgerblue;
  border-radius:10px;
  padding:5px;
  margin:0;
  font-weight:bold;
}
.login input{
  width:100%;
  border-bottom:20px;
  border-radius: 6px;
  height:25px;

}
p{
  color:Dodgerblue;

}
.login input[type="text"], input[type="password"]{
  border: none;
  border-bottom:2px;
  background: transparent;
  color:white;
  height:20px;
  font-size: 16px;
  outline:none;
}
.login input[type="submit"]{
  border:none;
  border-radius: 50px;
  outline:none;
  margin-top:10px;
  margin-bottom: 10px;
  height:30px;
  font-size: 17px;
  color:white;
  background:black;
}
.login input[type="submit"]:hover
{
  cursor:pointer;
  background: Dodgerblue;
  color:white;
  font-weight: bold;
}
.login a{
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color:Dodgerblue;
}
.login a:hover{
  color:white;
}
@media (max-width: 768px) {
  .login
  {
    margin:auto;
    width:300px;
    height:300px;
    color: white;
    background:black ;
    position: absolute;
    left:30%;
    top:20%;
    border-radius: 10px;


  }
}

